*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.input-wrapper input {
    border: 1px solid #dbdbdb;
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
}

.input-wrapper {
    margin-bottom: 10px;
}

.btn {
    padding: 8px 20px;
    background-color: #037bfe;
    color: #fff;
    border-radius: 5-x  ;
    border: 1px solid #000;
}

.header {
    background-color: #037bfe;
}

.error {
    color: red;
    
}